* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #7a7a7a;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "EightSquared";
  src: url("./src/EightSquared.ttf") format("truetype");
}

@font-face {
  font-family: "NextSphereBlack";
  src: url("./src/NextSphereBlack.ttf") format("truetype");
}

@font-face {
  font-family: "SphereNextThin";
  src: url("./src/SphereNextThin.ttf") format("truetype");
}

span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: auto;
  background: #010101;
  color: #9a9a9a;
  user-select: none;
}

nav {
  width: 100%;
  height: fit-content;
}

.brand {
  padding-top: 10rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}

.skillsContainer {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 5rem;
}

.skillsContainer-ul {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills-emblem-li {
  width: fit-content;
  height: auto;
  padding: 0.5rem 1rem;
  font-family: "EightSquared";
  font-weight: 100;
  font-size: 1rem;
  color: #7a7a7a;
  border: 0.5px solid #7a7a7a;
  border-radius: 5px;
  cursor: pointer;
}

.skills-emblem-li:hover {
  color: #ba2649;
  border: 0.5px solid #ba2649;
}

.quote {
  width: 50%;
  height: auto;
  font-family: "SphereNextThin";
  font-style: italic;
  font-size: 1rem;
  word-wrap: normal;
}

.businessCard-h3 {
  font-size: 0.8rem;
  font-family: "SphereNextThin";
  line-height: 1.3rem;
}

.hover-red-a {
  color: #f0ffff;
}

.hover-red-a:hover {
  font-weight: 900;
  color: #ba2649;
}

/* ?END OF NAVBAR */
.mainContents {
  width: 100%;
  height: auto;
  padding-top: 30rem;
  text-align: center;
}

.projects-title-h1 {
  font-family: "EightSquared";
  font-size: 3rem;
  font-weight: 100;
}

.projects-contents {
  width: 100%;
  height: auto;
  padding-top: 10rem;
  padding: 5rem;
}

.projectImage {
  width: 60%;
  height: auto;
  z-index: 99;
}

.rightContents {
  width: 100%;
  height: auto;
  padding: 1rem;
  text-align: left;
}

.project-title {
  font-family: "NextSphereBlack";
  font-size: 1.5rem;
  font-weight: 100;
  padding: 1rem 0;
}

.project-description {
  font-family: "SphereNextThin";
  font-size: 1rem;
  line-height: 1.3rem;
}

.usedTech-ul {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 2rem;
}

.usedTech-li {
  width: fit-content;
  height: auto;
  padding: 0.5rem 1rem;
  font-family: "EightSquared";
  border: 1px solid #7a7a7a;
  border-radius: 5px;
}

.visitWebsite-h5 {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 900;
  font-family: "SphereNextThin";
  text-align: right;
  display: block;
  margin-top: 3rem;
}

.visitWebsite-h5:hover {
  color: #ba2649;
}

.project1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid #7a7a7a;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project1:hover {
  transform: scale(1.02);
}

/* End of Project1 */
.project2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid #7a7a7a;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project2:hover {
  transform: scale(1.02);
}

/* End of Project2 */
.project3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid #7a7a7a;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project3:hover {
  transform: scale(1.02);
}

/* End of Project3 */
.project4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid #7a7a7a;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project4:hover {
  transform: scale(1.02);
}

@media (min-width: 640px) and (max-width: 720px) {
  .skillsContainer-ul {
    gap: 0.5rem;
  }
  .quote {
    width: 100%;
    height: auto;
  }
  .brand {
    width: 100%;
    height: 25rem;
    padding-right: 5rem;
  }
  .skillsContainer {
    padding-left: 1rem;
    text-align: center;
    align-items: center;
  }
  nav {
    padding: 2rem;
  }

  .project1 {
    flex-direction: column;
  }
  .project2 {
    flex-direction: column;
  }
  .project3 {
    flex-direction: column;
  }
  .project4 {
    flex-direction: column;
  }

  .projectImage {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .project1 {
    flex-direction: column;
  }
  .project2 {
    flex-direction: column;
  }
  .project3 {
    flex-direction: column;
  }
  .project4 {
    flex-direction: column;
  }

  .projectImage {
    width: 100%;
    height: auto;
  }
}
